.card {
	display: flex;
	align-items: center;
	height: 55vh;
	justify-content: center;
	animation: slide 0.4s ease-in;
}

.side {
	position: absolute;
	max-width: 350px;
	min-width: 330px;
	width: 60vw;
	height: 55vh;
	cursor: pointer;
	will-change: transform, opacity;
	backface-visibility: hidden;
}

@keyframes slide {
	0% {
		opacity: 95%;
		transform: translateX(-200px);
	}
	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}
