.theCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.frontCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.backCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

